{% for local_name in smartd_disks %}
{{
	local_name.disk }} {%if local_name.sub is defined and local_name.sub %} -d {{ local_name.sub }}{% endif %} -a -o on -S on -s (S/{{ 
	local_name.s_month | default('..') }}/{{ 
	local_name.s_dom   | default('..') }}/{{ 
	local_name.s_dow   | default('.') }}/{{ 
	local_name.s_hour  | default("{0:02d}".format(range(1,24)|random)) }}|L/{{ 
	local_name.l_month | default('..') }}/{{ 
	local_name._l_dom  | default('..') }}/{{ 
	local_name.l_dow   | default(range(1,8)|random) }}/{{ 
	local_name.l_hour  | default("{0:02d}".format(range(1,24)|random)) }}) -m {{ 
	smartd_mail }}
{% endfor %}
